* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    text-align: center;
}
#titolo{
    text-align: center;
    color: magenta;
    margin-top: 20px;
}
p{
    margin-top: 40px
}
.contenitore-staff{
    width: 300px;
    height: 100px;
    background-color: black;
    margin-left: 100px;
    margin: 100px;
}
.foto-staff{
    text-align: left;
    width: 300px;
    height: 100px;
    object-fit: contain;
    object-position: 0 0;
}

