* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    text-align: center;
}
#titolo{
    text-align: center;
    color: magenta;
    margin-top: 20px;
}
p{
    margin-top: 40px
}
.contenitore-staff{
    width: 300px;
    height: 100px;
    background-color: black;
    margin-left: 0;
    margin: 100px;
    float: left;
}
.foto-staff{
    text-align: left;
    width: 100px;
    height: 100px;;
    float: left;
    margin-right: auto;
}
.informazioni-team{
    color: white;
    padding-top: 20px;
    text-align: right;
}
.email{
    color: lightblue;
}
.contenitore-staff2{
    width: 300px;
    height: 100px;
    background-color: black;
    margin-left: 0;
    margin: 100px;
    float: left;
}



